// place your custom styles here
@import './variables';

.beian, .copyright {
  color: var(--dark-grey);
  font-family: 'Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace';
}
.blog-info-list {
  .blog-type-button {
    svg {
      color: $color-content-secondary;
    }
  }
}

.navbar {
  .nav-item {
    .nav-link {
      color: $color-content-secondary;
    }
  }
}

.article .reading-time-info {
  display: none !important;
}